body {
  background-color: #192841;
}

.logo-text {
  font-family: "Roboto", arial;
  font-size: 24px;
  padding: 20px;
  color: #f9faf8;
}
.logo {
  display: block;
  float: left;
  margin: 20px;
  margin-left: 100px;
  overflow: hidden;
  border-radius: 20px 30px;
}

nav {
  display: block;
  background: #192841;
  height: 80px;
  width: 100%;
}

nav ul {
  display: block;
  float: right;
  margin-right: 200px;
}
nav ul li {
  display: inline-flex;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-family: "Lato variant1", Tofu;
  font-size: 18px;
  text-transform: uppercase;
}
a:hover {
  text-decoration: none;
  transition: 0.3s;
}

.container {
  display: flex;
  align-items: center;
  padding: 50px;
  margin: 100px;
}
.container img {
  width: 460px;
  height: 290px;
  margin: 10px;
}

.hero {
  font-family: "Roboto", arial;
  
}
.bold {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}
.light {
  font-size: 18px;
  font-weight: lighter;
  color: #e5e7eb;
}
.btn {
  display: flex;
  border:0;
  width: 110px;
  color: #f9faf8;
  font-size: 20px;
  background-color: #3882f6;
  padding: 10px;
  border-radius: 8px;
}

.middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fdfdfd;
  padding: 40px;
}
.tittle {
  font-size: 36px;
  font-weight: bolder;
}

.content {
  display: flex;
  justify-content: space-around;
  gap: 70px;
}

.content img {
  display: flex;
  border: 2px solid #3882f6;
  width: 200px;
  height: 200px;
  border-radius: 15px;
}
.content h3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", arial;
}

.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
}
.quote {
  text-align: center;
  padding: 40px;
  margin: 40px;
  color: #1f2937;
  font-size: 36px;

  font-style: italic;
}

.name {
  display: flex;
  justify-content: end;
  font-size: 23px;
  padding-right: 100px;
}
.last {
  display: flex;
  justify-content: space-around;
  background: #fdfdfd;
 
}
.sign-up {

  background: #3882f6;
  margin: 50px;
  padding: 30px;
  border-radius: 5px;
}
.fix{
  font-size: 14px;
  font-family: "Roboto", arial;
  color: #f9faf8;


}
.sign {
  display: flex;
  align-items: center;
  
  margin: 10px;
  padding-left: 100px;
  padding-right: 100px;
  
}

.sign-up button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", arial;
  border:2px solid;
  height: 30px;
  background: #3882f6;
  color: #f9faf8;
  margin: 40px;
  padding: 10px;
  width: 100px;
  border-radius: 4px;

  
}

.footer {
  display: flex;
  justify-content: center;
  padding: 15px;
  margin: 15px;
  background-color: #192841;
  color: #f9faf8;
  font-size: small;
}
