html{background-color: #192841}

*{padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;

}
.logo{

  display: inline;
    margin-left: 20px;
    border-collapse: separate;
      overflow: hidden;
      border-radius: 30px 20px;
      width: auto;
      
  }
  body{
    
    font-family: montserrat;

  }

nav{
    display: block;
    background:  #192841;
    height: 80px;
    width: 100%;

  }

nav ul{
  display: block;
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-flex;
  line-height: 80px;
  margin:  0 5px;
}

nav ul li a{
  color: white;
  font-family: "Lato variant1", Tofu;
  font-size: 18px;
  text-transform: uppercase;

}
a:hover{
  text-decoration: underline;
  transition: .5s;
}
.main{
  display: flex;
  padding: 80px;
  margin: 10px;
  justify-content: center;
}
.bold{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  
}
.secondary{
  font-size: 18px;
  font-weight: lighter;
  color: #e5e7eb;

}





 


